{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="offset-lg-4">
		<h2 class="title container-fluid bg-secondary text-white border border-tertiaire-inverse">CONNEXION</h2>
	</div>

	<form class="col-lg-2 offset-lg-5 mt-4">
		<div class="mb-3 ">
			<label for="exampleInputEmail1" class="form-label">
				<i class="bi-connexion bi-person fs-1"></i>
			</label>
			<div class="input-group has-validation">
				<span class="input-group-text bg-primary text-white">@</span>
				<input type="email" class="form-control" placeholder="Adresse e-mail" id="exampleInputEmail1" aria-describedby="emailHelp">
			</div>
		</div>

		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">
				<i class="bi-connexion bi-key fs-1"></i>
			</label>

			<input type="password" class="form-control" placeholder="Mot de passe" id="exampleInputPassword1">
		</div>
		<a href="#" class="col-lg-4 offset-lg-4 btn btn-tertiary rounded-4 text-white mt-4">Validez</a>
	</form>

{% endblock %}
