<div class="footer">
    <hr class="footer-line bg-secondary border-3">
    <div class="d-flex justify-content-between">
        <img src="{{ asset('build/images/logo.png') }}" alt="" class="align-self-end">
        <img src="{{ asset('build/images/slogan.PNG') }}" alt="" class="align-self-end">
    </div>
</div>
