{% extends 'base.html.twig' %}

{% block title %}New Faq{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="bg-primary rounded text-white m-3 mb-5 p-3">Créer une nouvelle question</h1>

        {{ include('faq/_form.html.twig') }}

        <a href="{{ path('app_faq_index') }}" class="btn btn-primary text-white m-3">Retour à la foire aux question</a>
    </div>
{% endblock %}
