$blue : #00a6aa;
$pink : #ec4664;
$white : #FFFFFF;
$yellow : #f5c939;
$grey : #767580DF;
$orange : #fe8957;
$blue-night :#201b4e ;


$primary: $blue;
$primary-inverse : $grey;
$secondary: $yellow;
$secondary-inverse: $orange;
$tertiary : $pink;
$tertiary-inverse : $blue-night;




$theme-colors: (
    "primary": $primary,
    "primary-inverse": $grey,
    "secondary": $secondary,
    "secondary-inverse": $secondary-inverse,
    "tertiary": $tertiary,
    "tertiary-inverse": $tertiary-inverse,


);
