{% extends 'base.html.twig' %}

{% block title %}Appareils enregistrés
{% endblock %}

{% block body %}
	<div class="offset-lg-4">
		<h2 class="title container-fluid bg-secondary text-white border border-tertiaire-inverse mb-4">APPAREILS ENREGISTRES</h2>
	</div>

	<div class="col-lg-2 offset-lg-5  border border-2 border-dark p-4 rounded" >
		<dl>
			<dt>Marque</dt>
			<dd>Samsung</dd>
			<dt>Modele</dt>
			<dd>S22</dd>
			<dt>ram</dt>
			<dd>8 Go</dd>
			<dt>Antutu</dt>
			<dd>12000</dd>
		</dl>
	</div>

{% endblock %}

