{% extends 'base.html.twig' %}

{% block title %}Page non trouvée
{% endblock %}

{% block body %}
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>

</head>

<section class="page_404">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 ">
				<div class="col-sm-10 col-sm-offset-1 text-center">
					<div class="four_zero_four_bg">
						<h1 class="text-center ">Erreur 404</h1>


					</div>

					<div class="contant_box_404">
						<h3 class="h2">Désolé, cette page est aussi rare que les smartphones dans une grotte préhistorique</h3>

						<p>Remonte le temps en cliquant ici :</p>

						<a href="{{path('app_welcome')}}" class="btn col-lg-2 offset-lg-5 bg-primary text-white mt-4">Retour
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
