{% extends 'layout/launding-layout.html.twig' %}

{% block title %}Hello LaundingController!{% endblock %}

{% block body %}
<div class="bg-primary d-flex justify-content-center align-items-center min-vh-100">
<img src="{{ asset('build/images/EmmausConnect.jpg') }}" alt="" class="rounded-circle h-25 w-25">
</div>
{% endblock %}
